* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    object-fit: cover;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: 16px;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-3{
    width: 25%;
    padding: 0 15px;
}
.col-6{
    width: 50%;
    padding: 0 15px;
}
.meal-link{
    text-decoration: none;
    color: #000;

}
.meal-title{
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 20px;
}

.meal-img{
    object-fit: contain;
    width: 500px;

}
.box{
    width: 250px;
}
.box img{
    width: 100%;
    object-fit: contain;
}
.ing-wrapper{
    width: 200px;
}
.ing-wrapper img{
    width: 150px;
    object-fit: contain;
}
.input-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    height: 30px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.search-btn{
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}
.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    text-align: center;
    margin-top: 20px;
}
.nav-link{
    margin: 20px;
    text-decoration: none;
    color: #000;
    font-size: 25px;
}

.home-page{
    text-align: center;
    margin-top: 30px;
}
.error-text{
    text-align: center;
    margin-top: 25px;

}